html {
    padding: 0;
    margin: 0;
}
.full-content {
    position: relative;
    background-image: url("/static/images/login.jpg");
    background-position: center;
    background-size: cover;
    width: 100%; 
    height: 100vh;
}
.full-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(0deg, rgba(33,33,33,0.95705) 0%, rgba(255,255,255,0.01) 85%);
}
.form-login {
    position: relative;
    background-color: #fff;
    max-width: 350px;
    width: 350px;
    padding: 2rem 1rem;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
    border-radius: 10px;
    z-index: 11;
}

#login-icon{
    width: 120px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.buttonDisabled {
    opacity: .25;
    cursor: not-allowed !important;
}

.content-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.content-page h2 {
    text-align: center;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.border {
    border-radius: 10px;
    border: 1px solid #eaeaea;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#form {
    width: 30%;
    margin: 10px;
    padding: 1rem;
}

#form label {
    text-transform: uppercase;
    color: #474747;
    font-size: 14px;
    font-weight: bold;
}
.info {
    width: 100%;
    padding: 1rem;
}

.info input[type="submit"] {
    width: 100%; 
}
#charts {
    width: 60% !important;
    height: auto!important; 
    padding: 1rem;
    
}