{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
</head>
<body>
    <div class="content-page">
        <h2>Udis y más</h2>
        <div class="content">
            <form id="form" class="border" onsubmit="getDatos(event);">
                <div class="info">
                    <div class="form-group">
                        <label>¿Qué quieres consultar?</label>
                        <select name="typeToSend" class="form-control">
                            {% for item in exchange %}
                                <option value="{{ item.serie }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha inicial</label>
                        <input class="form-control" onchange="validateDate();" name="dateIni" type="date" />
                    </div>
                    <div class="form-group">
                        <label>Fecha final</label>
                        <input class="form-control" onchange="validateDate();" name="dateEnd" type="date" />
                    </div>
                    <p id="error" class="text-danger"></p>
                    <input id="buttonSubmit" type="submit" class="btn btn-info buttonDisabled" value="Aceptar" />
                </div>
            </form>
            <canvas class="border" id="charts"></canvas>
        </div>
        <div id="extraInfo"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="{% static 'js/master.js' %}"></script>
</body>
</html>