{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="full-content d-flex justify-content-center align-items-center">
        <div class="form-login">
            <div class="container">
                <form id="form-login">
                    <div class="text-center">
                        <img id="login-icon" src="{% static 'images/login-icon.png' %}"/>
                    </div>
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Usuario" />
                    </div>
                    <div class="form-group">
                        <input name="password" type="text" class="form-control" placeholder="Contraseña "/>
                    </div>
                    <input type="submit" class="btn btn-info" value="Aceptar" />
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>